@use '_mixins' as mix

.current-weather
    border-radius: 8px
    @include mix.background-transparent
    flex-grow: 1
    font-weight: 700
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 0.5rem

    &__first-data
        display: flex
        align-items: center
        justify-content: space-between

    &__temp
        white-space: nowrap

        @media (min-width: 768px)
            font-size: 3rem

    &__feelslike, &__windchill
        @media (min-width: 768px)
            font-size: 2rem

    &__second-data
        padding-block: 2vw

.weather-data
    color: white
    display: flex
    gap: 2vw

    &__options
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 0.5vw

    &__option
        border-radius: 8px
        color: white
        @include mix.text-shadow
        @include mix.background-transparent

        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 0.5vw

        @media (min-width: 768px)
            flex-direction: row

    &__date
        display: flex
        justify-content: space-between
        flex-direction: column

    &__date-number
        display: none

        @media (min-width: 768px)
            display: block

    &__status
        display: flex
        justify-content: space-between
        align-items: center

        @media (min-width: 768px)
            flex-direction: column
