.weather-data
    color: white
    display: flex
    gap: 2rem

    &__options
        display: flex
        flex-direction: column
        justify-content: space-between

.current-weather
    border-radius: 8px
    // padding: 2vw
    // background-color: dodgerblue
    flex-grow: 1
    font-weight: 700

    &__first-data
        display: flex
        align-items: center
        justify-content: space-between
